 <form action="/FileUpload/uploadFile" method="post" enctype="multipart/form-data">
  <label>Some other metadata</label>
  <input type="text" name="foo" placeholder="some other metadata"/>
  <br/>
  <label>Please upload your file:</label>
  <input type="file" name="privateKeyFile"/>
  <br/>
  <br/>
  <input type="submit"/>
  </form>